<aside class="col-md-8">
  <div class="col-lg-12 col-xl-12 mx-auto">
    <div class="card card-signin flex-row my-5">
      <div class="card-body">
        <h3 class="card-title text-center"> DO NOT be shy to ask something</h3>
        <%= render "form_question", btn_text: "Create New Question" %>
      </div>
    </div>
  </div>
</aside>
