<% provide(:title, 'Question') %>
<div class="col md-8">
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to "Home", root_path %>
      </li>
      <li class="breadcrumb-item active">
        Question
      </li>
    </ol>
  </nav>
  <%= render @question %>
</div>
