<% provide(:title, 'All questions') %>
<div class="col md-8">
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to "Home", root_path %>
      </li>
      <li class="breadcrumb-item active">
        All Questions
      </li>
    </ol>
  </nav>
  <%= render @questions %>
  <%= will_paginate @questions %>
</div>
