<li class="user-item col-md-4 col-xs-6">
  <div class="user-picture">
    <div class="picture"><%= image_tag user.picture.url %></div>
  </div>
  <div class="left-info">
    <%= link_to user.name, user %>
    <div class="question-cat">
      <span title="1529" class="user-badge" style="background-color:#780978;">
        Menber
      </span>
    </div>
  </div>
</li>
