<% provide(:title, 'All users') %>
<div class="col md-8">
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to "Home", root_path %>
      </li>
      <li class="breadcrumb-item active">
        All Users
      </li>
    </ol>
  </nav>
  <ul id="main_users_list" class="row">
    <%= render @users %>
  </ul>
</div>

