@import 'bootstrap';
@import "font-awesome";
@import "toastr";
.col-md-2.right,
.col-md-2.left {
  background: #eef1f7;
}
.col-md-12 {
  background: #f8f9fa;
}
.col-md-2 ul li {
  list-style: none;
}
.col-md-2.left{
  padding: 20px 0 20px 0px;
  border-right: 1px solid #ccc;
}
.col-md-2.right{
  padding: 20px 20px 20px 0;
  border-left: 1px solid #ccc;
}
li.widget.widget-statistic {
  padding: 20px 0px 20px 0px;
  margin: 0px -15px;
}
ul.widget.wiget-count {
  margin-left: -30px;
}
li.question-count {
  border-left: 4px solid #3498db;
  margin-bottom: 15px;
  line-height: 1.6;
  p{
    font-size: 16px;
    color: #7a838e;
    padding-left: 7px;
    margin: 0;
  }
  span{
    font-weight: 700;
    font-size: 36px;
    line-height: 30px;
    display: block;
    color: #2c3e50;
    padding-top: 5px;
    margin-left: 8px;
  }
}
li.member-count {
  border-left: 4px solid #f39c12;
  margin-bottom: 15px;
  line-height: 1.6;
  p{
    font-size: 16px;
    color: #7a838e;
    padding-left: 7px;
    margin: 0;
  }
  span{
    font-weight: 700;
    font-size: 36px;
    line-height: 30px;
    display: block;
    color: #2c3e50;
    padding-top: 5px;
    margin-left: 8px;
  }
}
li.widget.widget-related-tags h3 {
  color: #2c3e50;
  font-weight: 700;
  font-size: 14px;
  border-bottom: 1px solid #dadfea;
  padding-bottom: 10px;
  margin-bottom: 15px;
}
li.widget.widget-related-tags ul {
  margin-left: -40px;
  li a{
    border: 1px solid #d9dfe9;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: #f3f5f9;
    text-decoration: none;
    color: #6f7d95;
    line-height: 20px;
    display: inline-block;
    padding: 0 10px;
    margin: 5px 5px 0 0;
  }
}
.widget.widget-btn {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 30px;
}
#menu-left-menu-container ul li{
  list-style: none;
}
ul#menu-left-menu-1 {
  margin: 0px 0px 0px -25px;
  border-bottom: 1px solid #ccc;
  li a {
    width: 100%;
    text-decoration: none;
    padding: 10px 0 10px 16px;
    display: block;
    color: #78829d;
    border-left: 4px solid transparent;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-size: 13px;
  }
  li a:hover{
    border-left: 4px solid #f39c12;
    background: #f8f9fa ;
  }
}
input#user_picture {
  width: 100%;
  padding: 10px 0;
}
label.checkbox.inline {
  width: 100%;
  padding: 10px 0 0 0;
}
.copyright {
  padding: 20px;
  position: relative;
  bottom: 0;
  color: #78829d;
  font-size: 13px;
  a{
    text-decoration: none;
  }
}
.alert.alert-danger {
  margin: 0 -15px 0px -13px;
  border-radius: 0px;
  padding: 5px;
}
.user-picture img {
  float: left;
  margin-top: 2px;
  margin-right: 10px;
  height: 50px;
  width: 50px;
  border-radius: 65px;
}
ul#main_users_list li {
  list-style: none;
}
span.user-badge {
  margin-left: 0;
  max-width: 70px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  border-radius: 3px;
  font-size: 11px;
  padding: 3px 5px 3px 5px;
  color: #fff;
}
li.user-item.col-md-4.col-xs-6 {
  padding: 10px 0 25px;
}
.row.select-category {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  .col-md-6.col-xs-6.current-category span {
    font-size: 16px;
    color: #2c3e50;
  }
}
span.picture-user img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
span.picture-user {
  float: left;
  padding: 60px 0px 0px 0px;
}
.col-md-5.col-xs-12.user-info ul {
  padding: 60px 0 0px 110px;
  li{
    list-style: none;
  }
}
li.item {
  color: #6f7d95;
  font-size: 13px;
}
li.name {
  font-size: 20px;
}
.pull-top.question-cat li {
  list-style: none;
  margin: 12px -0px;
}
ol.breadcrumb {
  margin: 0px -16px 1px -15px;
  border-radius: 0;
  background: #eef1f7;
  padding: 10px 26px;
}
label.checkbox.inline {
  width: 100%;
  padding: 10px 0 0 0;
}
.copyright {
  padding: 20px;
  position: relative;
  bottom: 0;
  color: #78829d;
  font-size: 13px;
  a{
    text-decoration: none;
  }
}
.picture-user img {
  width: 40px;
  height: 40px;
  border-radius: 30px;
}
input.btn.btn-primary {
  margin: 10px 0;
}
.picture-user img {
  width: 40px;
  height: 40px;
  border-radius: 30px;
}
input.btn.btn-primary {
  margin: 10px 0;
}
.row.questions {
  border-bottom: 1px solid #ccc;
  padding: 25px 10px;
  blockquote.blockquote {
    padding: 15px 0 0;
    p.question {
      font-weight: bold;
      font-size: 20px;
      line-height: 0px;
    }
    p.anwser {
      font-size: 14px;
      color: #6c757d;
    }
    span.tag-questions {
      padding: 3px 10px 3px 10px;
      font-size: 14px;
      color: #fff;
      background: #797992;
      border-radius: 15px;
      border: 1px solid #53bd9d;
    }
  }
  .bottom-questions {
    a{
      font-size: 14px;
      text-decoration: none;
      color: #6c757d;
    }
    span.time {
      font-size: 14px;
      color: #6c757d;
    }
    span.badge.badge-primary-questions {
      font-weight: normal;
      padding: 6px;
      background: #04aad4;
      color: #fff;
    }
  }
  .col-md-4.col-xs-4.q-right-content {
    padding: 30px 35px 0;
    text-align: center;
    ul.question-statistic {
      text-align: right;
      li {
        display: inline-block;
        text-align: center;
        margin-left: 30px;
        &.active span {
          -moz-border-radius: 22px;
          -webkit-border-radius: 22px;
          border-radius: 22px;
          background-color: #1abc9c;
          color: #fff;
          border: none;
        }
        span{
          width: 46px;
          height: 46px;
          display: block;
          text-align: center;
          line-height: 3.3;
          margin-bottom: 15px;
          border: 1px solid #d9dfe9;
          -moz-border-radius: 50%;
          -webkit-border-radius: 50%;
          border-radius: 50%;
        }
      }
    }
  }
}
.picture-user img {
  width: 40px;
  height: 40px;
  border-radius: 30px;
}
input.btn.btn-primary {
  margin: 10px 0;
}
.row.questions {
  border-bottom: 1px solid #ccc;
  padding: 25px 10px;
  blockquote.blockquote {
    padding: 15px 0 0;
    p.question {
      font-weight: bold;
      font-size: 20px;
      line-height: 0px;
    }
    p.anwser {
      font-size: 14px;
      color: #6c757d;
    }
    span.tag-questions {
      padding: 3px 10px 3px 10px;
      font-size: 14px;
      color: #fff;
      background: #797992;
      border-radius: 15px;
      border: 1px solid #53bd9d;
    }
  }
  .bottom-questions {
    a{
      font-size: 14px;
      text-decoration: none;
      color: #6c757d;
    }
    span.time {
      font-size: 14px;
      color: #6c757d;
    }
    span.badge.badge-primary-questions {
      font-weight: normal;
      padding: 6px;
      background: #04aad4;
      color: #fff;
    }
  }
  .col-md-4.col-xs-4.q-right-content {
    padding: 30px 35px 0;
    text-align: center;
    ul.question-statistic {
      text-align: right;
      li {
        display: inline-block;
        text-align: center;
        margin-left: 30px;
        &.active span {
          -moz-border-radius: 22px;
          -webkit-border-radius: 22px;
          border-radius: 22px;
          background-color: #1abc9c;
          color: #fff;
          border: none;
        }
        span{
          width: 46px;
          height: 46px;
          display: block;
          text-align: center;
          line-height: 3.3;
          margin-bottom: 15px;
          border: 1px solid #d9dfe9;
          -moz-border-radius: 50%;
          -webkit-border-radius: 50%;
          border-radius: 50%;
        }
      }
    }
  }
}

.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
  }
  /* IE 6 doesn't support max-height
   * we use height instead, but this forces the menu to always be this tall
   */
  * html .ui-autocomplete {
    height: 200px;
  }
