<div class="col-md-2 right">
  <ul>
    <li class="widget widget-statistic">
      <ul class="widget wiget-count">
        <li class="question-count">
          <p>Questions</p>
          <span><%= question_count %></span>
        </li>
        <li class="member-count">
          <p>Member</p>
          <span><%= user_count %></span>
        </li>
      </ul>
    </li>
    <li class="widget widget-related-tags">
      <h3>MOST USED TAGS</h3>
      <ul id="widget widget-related-right">
        <% tag_hot.each do |name,total| %>
        <li><%= link_to name, "#", class: "q-tag" %> <span class="tags">x <%= total %></span></li>
        <% end %>
      </ul>
    </li>
  </ul>
</div>
