<div class="col-md-2 right">
  <ul>
    <li class="widget widget-statistic">
      <ul class="widget wiget-count">
        <li class="question-count">
          <p>Questions</p>
          <span><%= Question.count %></span>
        </li>
        <li class="member-count">
          <p>Member</p>
          <span><%= User.count %></span>
        </li>
      </ul>
    </li>
    <li class="widget widget-related-tags">
      <h3>MOST USED TAGS</h3>
      <ul id="widget widget-related-right">
        <% tag_all.each do |tag| %>
        <li><%= link_to tag.name, "#", class: "q-tag" %></li>
        <% end %>
      </ul>
    </li>
  </ul>
</div>
